<body>
    <header class="header">
            <img src="/logo.svg" alt="Logo" id="headerlogo">
        <div id="headerbuttons">
            <a routerLink="/login"><button>Entrar</button></a>
            <a href="#"><button>Sobre</button></a>
            <a href="#"><button>Autores</button></a>
            <a href="#"><button>FAQ</button></a>
        </div>
    </header>
    <div class="notfound">
        <img src="/vector_notfound.svg">
        <h1>404</h1>
        <h2>Página não encontrada</h2>
        <a routerLink="/">Retornar</a>
    </div>
</body>