<div style="margin-top: 15%; margin-bottom: 1.5%;">
    <button id="type"><fa-icon [icon]="FontAwesome.faUserFriends" size="2x"></fa-icon>Doadores</button>
    <button id="type"><fa-icon [icon]="FontAwesome.faHandHoldingDroplet" size="2x"></fa-icon>Doações</button>
</div>

<input type="text" placeholder="Pesquise nome, CNPJ, ou telefone">

@if (true) {
    <div style="flex-direction: column; align-items: center;">
        <h4>Ou</h4>
        <button class="whitebutton"><fa-icon [icon]="FontAwesome.faPlus" size="3x"></fa-icon> Cadastrar doação manualmente</button>
    </div>
}

<div>

</div>