<body>
    <header class="header">
            <img src="/favicon.ico" alt="Logo" width="35" height="35" id="headerlogo">
        <div id="headerbuttons">
            <a routerLink="/login"><button>Entrar</button></a>
            <a href="#"><button>Sobre</button></a>
            <a href="#"><button>Autores</button></a>
            <a href="#"><button>FAQ</button></a>
        </div>
    </header>

    <div class="starterpage">
        <div class="headTitle">
            <h1>Lorem ipsum <b>dolor</b> sit amet.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nulla saepe placeat tenetur aliquid possimus rem quia ex, iusto neque porro repellendus excepturi velit! Magnam neque dignissimos sint blanditiis consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consequuntur animi necessitatibus nam modi ipsam possimus quo quibusdam eum omnis minima odit quia quis ex obcaecati, assumenda neque, cumque laboriosam!</p>
            <br>
            <button routerLink="/signup" class="startbutton">Inscreva-se hoje</button>
            <button routerLink="/main" class="startbutton" style="margin-left: 5%;">Acessar dashboard</button>
        </div>
    </div>
    
</body>