<body>
    <div class="sidebar">
        <button id="profile"><fa-icon [icon]="FontAwesome.faUser" size="2x"></fa-icon></button>
        <button><fa-icon [icon]="FontAwesome.faHouse" size="2x"></fa-icon></button>
        <button><fa-icon [icon]="FontAwesome.faChartSimple" size="2x"></fa-icon></button>
        <button><fa-icon [icon]="FontAwesome.faDatabase" size="2x"></fa-icon></button>
    </div>
    <div class="dropout">
        <button><fa-icon [icon]="FontAwesome.faAt" size="xl"></fa-icon>Categoria</button>
        <button><fa-icon [icon]="FontAwesome.faAt" size="xl"></fa-icon>Categoria</button>
        <button><fa-icon [icon]="FontAwesome.faAt" size="xl"></fa-icon>Categoria</button>
    </div>

    
    <router-outlet></router-outlet>

</body>