/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    /* Aplicando a nova fonte como padrão */
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    /* Um fundo global suave */
}