@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary: #116AEF;
	--secondary: #F6F9FB;
	--tertiary: #E9F2FF;
    --primary-gray: #8B8B8B;
    --secondary-gray: #626264;
	--shadow_blue: rgba(40,90,185,0.2);
    --shadow_gray: rgba(105,105,105,0.2);
}

* {
	font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
}

body{
    display: flex;
    background-color: var(--secondary);
    overflow: hidden;
}

.left{
    background-image: url(resources/loginBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    width: 40%;
    height: 100vh;
}
.left > span{
    padding-left: 100%;
}
.left > svg{
    position: relative;
    top: 18%;
    left: 40%;
}
.left > article{
    color: white;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50%;
}
.left > article > h1{
    font-size: 4.5ch;
    font-weight: 400;
    padding-bottom: 10px;
}
.left > article > p{
    font-weight: 300;
    text-align: justify;
}

.right{
    width: 60%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right > main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 3px 4px var(--shadow_blue);
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right > a{
    padding-top: 2%;
    color: black;
    text-decoration: none;
}

main > h2 {
    padding-top: 5%;
}
main > p {
    padding-bottom: 5%;
    padding-top: 5px;
    font-weight: 300;
}
main > form > input {
    background-color: #FBF9F9;
    border: solid #DBDBDB;
    border-radius: 5px;
    border-width: 2px;
    padding: 3.5%;
    width: 80%;
    margin: 2.5%;
}
.credentialSpan{
    font-size: 1.2ch;
}
.credentialSpan > a{
    color: var(--primary);
    text-decoration: none;
}
.credentialSpan > label{
    padding-right: 15%;
}

.Login{
    background-color: var(--primary);
    color: white;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 3px 4px var(--shadow_gray);;
    width: 85%;
    padding: 2.5%;
    margin-top: 5%;
    font-size: 1.7ch;
}

form > p{
    font-size: 1.2ch;
    padding-bottom: 3%;
}
form > p > a{
    color: var(--primary);
    text-decoration: none;
}

.linebreak{
    background-color: white;
    color: var(--primary-gray);
    font-size: 1.2ch;
    position: relative;
    margin-left: 35%;
    margin-right: 35%;
    top: 1%;
    padding-bottom: 0%;
}

hr{
    margin: 0% 8%;
    border-top: 1px solid #DBDBDB;
}

.loginAlts > button{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    border: none;
    margin: 8% 2%;
}
#twitter{
    background-image: url(resources/login_twitter.png);
}
#linkedin{
    background-image: url(resources/login_linkedin.png);
}
#google{
    background-image: url(resources/login_google.png);
}
#apple{
    background-image: url(resources/login_apple.png);   
}