h1, div > h1{
    font-weight: 300;
    padding: 1% 0%;
}

#frame1{
    background-color: white;
    width: auto;
    height: 300px;
    border-radius: 15px;
    padding: 1%;
    box-shadow: 0px 3px 4px var(--shadow_gray);
}

#frame2{
    background-color: white;
    width: auto;
    height: 350px;
    flex-basis: 50%;
    border-radius: 15px;
    padding: 1%;
    box-shadow: 0px 3px 4px var(--shadow_gray);
}

#frame3{
    width: auto;
    height: 350px;
    flex-basis: 50%;
    border-radius: 15px;
    padding: 1%;
}

.flex-sidegrid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}