<h1>Estoque - Hemocentro</h1>
<div class="chart-container" id="frame1">
    <canvas id="BloodBank">{{ bloodbankChart }}</canvas>
</div>

<div class="flex-sidegrid">
    <h1>Status semanal</h1>
    <h1>Taxa de retorno</h1>
</div>
<div class="flex-sidegrid">
    <div class="chart-container" id="frame2">
        <canvas id="WeeklyChart">{{ weeklyChart }}</canvas>
    </div>
    <div class="chart-container" id="frame3">
        <canvas id="ReturnalChart">{{ returnalChart }}</canvas>
    </div>
</div>