<main>
    <div class="welcome">
        <img src="/favicon.ico" alt="logo">
        <h1>Bem-vindo, <b>John Doe</b></h1>
        <!--<h2>Texto secundário</h2>
        <h3>Texto terciário</h3>-->
    </div>

    <div class="warning">
        <h1>Texto_Alerta</h1>
    </div>
    <div class="alert">
        <h1>Texto_Alerta</h1>
    </div>
    <div class="header">
        <h1>Texto</h1>
        <h2>Texto secundário</h2>
        <h3>Texto terciário</h3>
        <div>
            <section>
                <fa-icon [icon]="FontAwesome.faAt" size="xl"></fa-icon>
                <!--@for-->
                <div>
                    <h1>DADO</h1>
                    <h2>Unidades</h2>
                </div>
            </section>
        </div>
    </div>

    <div class="infosider">
        <div>
            <h1>Últimas entradas</h1>
            <div class="entries">
                <!--@for-->
                <section>
                    <hr>
                    <hr id="minor"> 
                </section>
            </div>
        </div>
        <div>
        <div class="generaldata">
            <!--@for-->
            <section>
                    <fa-icon [icon]="FontAwesome.faAt" size="2x"></fa-icon>
                    <div>
                        <h1>DADO</h1>
                        <h2>Unidades</h2>
                    </div>
            </section>
        </div>
        </div>
    </div>
</main>