body{
	background-color: var(--secondary);
	display: flex;
	height: 100vh;
}

.sidebar{
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1% 0%;
	padding: 1%;
	border-radius: 0px 25px 25px 0px;
	box-shadow: 3px 3px 5px var(--shadow_gray);
	width: 50px;
	height: 90%;
	transition: width .3s;
	position: fixed;
	z-index: 5;
}
.sidebar > button, .sidebar > div, button{
	height: 50px;
	border: none;
	color: white;
	background-color: transparent;
	border-radius: 7px;
}

#navbarButton{
	border: none;
	padding: 5%;
	margin: 5% 0%;
	color: white;
	background-color: transparent;
	border-radius: 12px;
	display: flex;
	align-items: center;
	transition: width .37s;
	cursor: pointer;

	> span{
		padding-right: 10%;
	}

	> p{
		font-size: 1rem;
		font-weight: 400;
	}
}

#navbarButton:hover{
	background-color: rgba(233, 242, 255, .25);
}


#profile{
	border-radius: 1000px;
	background-color: white;
	color: var(--primary);
	box-shadow: 3px 0px 4px var(--shadow_blue);
	margin: 2%;
	min-height: 50px;
	min-width: 50px;
}
#profileborder{
	border-radius: 1000px;
	background-color: rgba(233,242,255,.25);
	color: var(--primary);
	padding: 5px 5px;
	margin-bottom: 25%;
	box-shadow: 3px 0px 4px var(--shadow_blue);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	>img{
		border-radius: 100px;
		height: 50px;
		width: 50px;
	}
	> span{
		padding-left: 3%;
		> h1{
			color: white;
			font-size: 1.05rem;
			font-weight: 600;
			position: absolute;
			transform: translate(5px,-20px);
		}
	
		> h2{
			color: white;
			font-size: 1.05rem;
			font-weight: 200;
			position: absolute;
			transform: translate(5px,0);
		}
	}
}

.dropout{
	background-color: var(--secondary);
	box-shadow: 3px 0px 5px var(--shadow_blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3% 1%;
	transition: all .3s;
}
.dropout > button{
	margin: 5% 0%;
	padding: 6% 0%;
	width: 120px;
	color: var(--primary);
	background-color: transparent;
	border-radius: 100px;
	border: none;
	transition: all .1s;
}
.dropout > button:hover{
	background-color: var(--tertiary);
}
.dropout > button:active{
	background-color: var(--primary);
	color: white;
}
.dropout > button > fa-icon{
	margin-right: 10px;
}

main{
	padding-left: 80px;
	width: 100%;
	height: 97%;
	margin: 1.5% 1%;
}


