<body>
    <div class="left">
        <article>
            <h1>Lorem ipsum.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem alias amet et blanditiis nisi, consequuntur unde nesciunt magni beatae dolorum facilis voluptate laboriosam, saepe aliquam? Iste quo dolores accusantium eveniet! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, dicta vel. Facilis error consequatur omnis velit eius eum dicta quod accusamus natus magni! Quod, fuga saepe enim quo aspernatur consequuntur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel iure deserunt perspiciatis labore quasi nostrum ut eaque ex ratione molestiae corrupti rem eos inventore, soluta temporibus magni quos doloribus saepe.</p>
        </article>
        <svg xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="10" cy="10" rx="8" ry="8" style="fill:white;"/>
            <ellipse cx="48" cy="10" rx="8" ry="8" style="fill:rgba(255, 255, 255, 0.5);"/>
            <ellipse cx="86" cy="10" rx="8" ry="8" style="fill:rgba(255, 255, 255, 0.5);"/> 
        </svg>
    </div>
    @if (signupStage() == 'type') {
        <div class="right">
            <main>
                <h2>Cadastrar como</h2>
                <p>Cadastrar conta</p>
                <form onsubmit="return false">
                    <div id="typeCheckmark">
                        <div  [ngClass]="accountType == 'doador' ? 'checkmark_checked' : 'checkmark_unchecked'" (click)="updateAccountType('doador')">
                           <span></span>
                        </div>
                        <span (click)="updateAccountType('doador')">
                            <h2>Doador</h2>
                            <p>Quero doar e receber benefícios</p>
                        </span>
                    </div>
                    <div id="typeCheckmark" (click)="updateAccountType('clinica')">
                        <div [ngClass]="accountType == 'clinica' ? 'checkmark_checked' : 'checkmark_unchecked'" (click)="updateAccountType('clinica')">
                            <span></span>
                        </div>
                        <span (click)="updateAccountType('clinica')">
                            <h2>Clínica</h2>
                            <p>Quero trazer benefícios a doadores regulares</p>
                        </span>
                    </div>
                    <button class="Login" (click)="signupStage.set('credentials')">Próximo</button>
                    <p>Já possuí conta? <a routerLink="/login">Entrar</a></p>
                </form>
            </main>
            <a routerLink="">← Retornar</a>
        </div>
    }
    @if (signupStage() == 'credentials') {
        <div class="right">
            <main>
                <h2>Sign in</h2>
                <p>Cadastrar conta</p>
                <form>
                    <input placeholder="Nome" required> <br>
                    <input placeholder="Email" type="email" required> <br>
                    <input placeholder="Senha" type="password" required> <br>
                    <input placeholder="Repita a senha" type="password" required> <br>
                    <button class="Login">Sign Up</button>
                    <p>Já possuí conta? <a routerLink="/login">Entrar</a></p>
                </form>
            </main>
            <a (click)="signupStage.set('type')" style="cursor: pointer;">← Voltar</a>
        </div>
    }
</body>