@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary: #116AEF;
	--secondary: #F6F9FB;
	--tertiary: #E9F2FF;
    --primary-gray: #8B8B8B;
    --secondary-gray: #626264;
	--shadow_blue: rgba(40,90,185,0.3);
    --shadow_gray: rgba(105,105,105,0.4);
}

* {
	font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
}